.register-page {
    .container {
        .heading {
            margin-top: 100px;

        }
        .text {
            text-align: center;
        }
        .form {
            width: 480px;
            margin: 0 auto ;
        }
    }
}
